body {
  margin: 0;
}

ul li {
  display: inline;
  text-decoration: none;
  padding-left: 40px;
  height: 100%;
  color: grey;
}
ul {
  margin-left: -60px;
}

h2 {
  margin-left: 25px;
  color: grey;
}

.header {
  height: 510px;
  width: 100%;
  background-image: url("../img/header-bg.jpg");
}

.header-logo {
  margin-top: 0px;
}

.logo-header {
  margin-top: 18px;
  margin-left: 195px;
  float: left;
}

.header-contact {
  float: left;
  height: auto;
  width: auto;
  margin-top: 40px;
  margin-left: 550px;
  color: white;
}

.menu {
  width: 960px;
  height: 50px;
  float: left;
  border: 1px solid grey;
  background-color: #BDCDCB;
  margin-left: 200px;
  margin-top: 10px;
}

.cat-in-grass {
  margin-top: 19px;
  margin-left: 200px;
}

.middle {
  background-color: #E9F0EF;
  height: 700px;
}

.rehome {
  float: left;
  margin-left: 200px;
  width: 620px;
  height: 680px;
  background-color: white;
  margin-top: -20px;
  border: 1px solid grey;
}

.latest-news {
  float: left;
  background-color: #5A5E5E;
  width: 338px;
  height: 331px;;
}

.donation {
  float: left;
  width: 338px;
  height: 331px;
  background-color: #C8D0CF;
}

.img-rehome {
  float: left;
  margin-left: 25px;
  margin-top: 10px;
  padding-top: 10px;
  margin-right: 15px;
}

.img-rehome-top {
  float: left;
  margin-left: 25px;
  margin-top: 0;
  margin-right: 15px;
}
